.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-footer {
    flex-shrink: 0;
    grid-row-start: 2;
    grid-row-end: 3;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.logoNav {
    width: 180px;
    height: 40px;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


.modal-dialog {
    min-height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    overflow: auto;
}

body {
    display: flex;
    flex-direction: column;
    grid-template-rows: 1fr auto;
    height: 100%;
    font-size: 13px;
    line-height: 1.5;
    font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;

}

#Menu {
    display: grid;
    position: sticky;
}

/* Login */

.admin {
    display: block;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 6px #00000029;
    border: 1px solid #b9b9b9;
    border-radius: 0.8cm;
    opacity: 1;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
}

.kep-login-facebook.metro {
    height: 50px !important;
    padding-bottom: 35px;
}


/* ********************************************************************************************************************************************************************* */
/* Manager */
.bd-example {
    height: 100%;
    max-width: auto;
}

/* ********************************************************************************************************************************************************************* */
/* Recommend */

#recommem {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.pad {
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.font {
    font-weight: bold;
    line-height: 1rem;
}

.img-store {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* ********************************************************************************************************************************************************************* */

.font-badge {
    font-weight: extra-light;
}

.item {
    padding: 0.1px;
}

.card-img-top {
    height: 200px;
    width: 100%;
    display: block;
}

.card-text {
    height: 140px;
    width: 100%;
}

.navbar-menu {
    width: 100%;
    position: static;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 430px;
    background-color: #ffffff;
}

.link-menu {
    margin-right: 0;
    display: -webkit-box;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* ********************************************************************************************************************************************************************* */
/* Link */

a:link {
    text-decoration: none;
    color: #517381;
}

a:link:hover {
    text-decoration: none;
    color: #c76945;
}

a:hover {
    text-decoration: none;
    color: #c76945;
}

a:visited {
    text-decoration: none;
    color: #c76945;
}

a:active {
    text-decoration: none;
    color: #517381;
}

/* ********************************************************************************************************************************************************************* */
/* Search */

.search {
    width: 100%;
    text-align: center;
}

.btn-search {
    margin: 0 0.5rem;
}

.image {
    margin: 3rem;
}

.db {
    margin: 3rem;
    padding: 3rem;
    display: table;
    text-align: center;
}

.fixlist {
    display: table;
}

.fixshow {
    margin-left: 1rem;
    margin-right: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    display: -webkit-box;
}

.fontmargin {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    font-size: 16px;
}

/* ********************************************************************************************************************************************************************* */
/* Contact */

.mail,
.phone,
.map {
    margin-top: 2rem;
}

.marginDetail {
    margin-top: -5rem;
    justify-content: center;
}

/* ********************************************************************************************************************************************************************* */
/* Head */

.head {
    height: 500px;
    max-width: 100%;
    display: flex;
    background-image: url(../src/assets/image/bg.jpg);
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    margin: 0 auto;
}

/* ********************************************************************************************************************************************************************* */
/* layout */

.rout {
    margin-top: 10rem;
    margin-bottom: 5rem;
}

/* ********************************************************************************************************************************************************************* */
/* footer */

#page-container {
    position: absolute;
    min-height: 100vh;
    width: 100%;

}

#content-wrap {
    padding-bottom: 5em;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #343a40;
}

.site-footer {
    padding-top: 30px;
    padding-bottom: 10px;
}

.footer-secondary,
.footer-quicklinks {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.8em;
    list-style: none outside;
    text-align: center;
    text-decoration: none;
    display: contents;
}

.footer-social,
.footer-payment,
.footer-secondary {
    line-height: 2.5em;
}

.link-footer {
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

/* ********************************************************************************************************************************************************************* */
/* login */

.fb-login-button {
    margin-top: 0.3rem;
}

.nacc {
    margin-left: -2rem;
    margin-right: 0.5rem;
}

.ll {
    margin-left: -3rem;
}

.user {
    margin: 1rem;
}

.log {
    padding: 3rem;
}

.llog {
    padding: 2rem;
    padding-bottom: 3rem;
    padding-top: 3rem;
    align-items: center;
    justify-content: center;
}

.but {
    margin: 0.5rem;
}

/* ********************************************************************************************************************************************************************* */
/* Ant Design */


/* ********************************************************************************************************************************************************************* */
/* Date Picker */

.datePic {
    width: 15rem;
    height: 2.5rem;
    padding-left: 1rem;
}

/* ********************************************************************************************************************************************************************* */