@import url('./assets/fonts/fonts.css');
@import url('./assets/fonts/DBHelvethaicaXBdv3.2/fonts.css');
@import url('./assets/fonts/DBHelvethaicaXMedv3.2/fonts.css');

body {
    display: flex;
    flex-direction: column;
    grid-template-rows: 1fr auto;
    height: 100%;
    font-size: 1.3rem !important;
    line-height: 1.5;
    font-family: 'Conv_DB Helvethaica X Bd v3.2', 'Conv_DB Helvethaica X Med v3.2', 'Conv_DB Helvethaica X Li v3.2' !important;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;

}

.card-img-top {
    width: 255px !important;
    height: 255px !important;
}


.swal-text {
    font-size: 1.5rem;
}

#card-recommend:hover {
    margin-top: -0.5rem !important;
}

#web-recommend:hover {
    background-color: #F69220 !important;

}

#select-row:hover {
    background-color: #FFC31E;


}

#OnSelect:hover {
    margin-top: -0.5rem !important;

}

button.ant-btn {
    height: 2.4rem !important;

}

span {
    /* height: 1.6rem !important; */
    font-size: 1.3rem !important;
    font-family: 'Conv_DB Helvethaica X Li v3.2' !important;
}

label,
button,
input,
textarea,
a,
Select,
Input,
Option .swal-text,
.dropdown-item {
    font-size: 1.3rem !important;
}

.ant-form-item-explain {
    font-size: 1.3rem !important;
}

.swal-title {
    font-size: 2.5rem !important;

}

.modal.show.fade {
    margin-top: 6rem;
}

/* .App-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    align-content: center;
    overflow: auto;
    flex-shrink: 0;
    grid-row-start: 2;
    grid-row-end: 3;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 13px !important; */

/* ********************************************************************************************************************************************************************* */
/* Navbar */

#Menu {
    display: grid;
    position: sticky;
}


#navbarNavDropdown ul li {
    margin: 0 0.2px 0 0.2px;
}



.navbar-dark .navbar-nav .nav-link:hover {
    color: #F69220 !important;
}

.navbar-dark .navbar-nav .nav-link {
    color: #ffffff !important;
}

#Navbar {
    position: relative;
    height: 20vh;
    width: 100%;

}



/* ********************************************************************************************************************************************************************* */
/* Login */

.admin {
    display: block;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 6px #00000029;
    border: 1px solid #b9b9b9;
    border-radius: 0.8cm;
    opacity: 1;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
}

.kep-login-facebook.metro {
    height: 50px !important;
    padding-bottom: 35px;
}

.kep-login-facebook {
    font-family: Helvetica, sans-serif;
    font-weight: 600 !important;
    font-size: 1rem !important;
    -webkit-font-smoothing: antialiased;
    color: rgb(255, 255, 255);
    width: 100% !important;
    cursor: pointer;
    display: inline-block;
    font-size: calc(.27548vw + 12.71074px);
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color .3s, border-color .3s;
    background-color: rgb(76, 105, 186);
    border: calc(.06887vw + .67769px) solid rgb(76, 105, 186);
    padding: calc(.34435vw + 13.38843px) calc(.34435vw + 18.38843px);
}

/* ********************************************************************************************************************************************************************* */
/* Manager */
.bd-example {
    height: 100%;
    max-width: auto;
}

/* ********************************************************************************************************************************************************************* */
/* Recommend */

#recommem {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.pad {
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.font {
    font-weight: bold;
    line-height: 1rem;
}

.img-store {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* ********************************************************************************************************************************************************************* */

.font-badge {
    font-weight: extra-light;
}

.item {
    padding: 0.1px;
}

.card-img-top {
    height: 200px;
    width: 100%;
    display: block;
}

.card-text {
    height: 140px;
    width: 100%;
}

.navbar-menu {
    width: 100%;
    position: static;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 430px;
    background-color: #ffffff;
}

.link-menu {
    margin-right: 0;
    display: -webkit-box;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* ********************************************************************************************************************************************************************* */
/* Link */

a:link,
a:active {
    text-decoration: none;
    color: #ffffff;
}

a:link:hover,
a:hover,
a:visited {
    text-decoration: none;
    color: #F69220;

}


/* ********************************************************************************************************************************************************************* */
/* Search Page*/

.search {
    width: 100%;
    text-align: center;
}

.btn-search {
    margin: 0 0.5rem;
}

.image {
    margin: 3rem;
}

.db {
    margin: 3rem;
    padding: 3rem;
    display: table;
    text-align: center;
}

.fixlist {
    display: table;
}

.fixshow {
    margin-left: 1rem;
    margin-right: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    display: -webkit-box;
}

.fontmargin {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    font-size: 16px;
}


.filter-Business {
    height: 300px;
    max-width: auto;
    overflow-y: scroll;
    height: 15rem;
    overflow-x: hidden;
    margin-top: 9px;
    margin-bottom: 9px;
    margin-right: 0.8rem;
    border-radius: 10px;
}

.filter-Business::-webkit-scrollbar-track {
    background-color: #f5f5f5;
    border-radius: 10px;
}

.filter-Business::-webkit-scrollbar {
    width: 10px;
    background-color: #f5f5f5;
}

.filter-Business::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-image: -webkit-gradient(linear,
            left bottom,
            left top,
            color-stop(0.44, #F69220),
            color-stop(0.72, #F69220),
            color-stop(0.86, #F69220));
}

/* ********************************************************************************************************************************************************************* */
/* Contact Page*/
#contact-message {
    /* background: linear-gradient(to bottom right, #F69220, #ffffff); */
    margin-bottom: 8em;
    box-shadow: -1px 1px 18px -5px #aaaaaa;
}

#search {
    box-shadow: -1px 1px 18px -5px #aaaaaa;

}

ul {
    list-style: none;

}

#filterType ul li {
    margin-left: 2.5rem !important;
}


.mail,
.phone,
.map {
    margin-top: 2rem;
}

.marginDetail {
    margin-top: -5rem;
    justify-content: center;
}

/* ********************************************************************************************************************************************************************* */
/* Head */

.head {
    height: 500px;
    max-width: 100%;
    display: flex;
    background-image: url(../src/assets/image/bg.jpg);
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    margin: 0 auto;
}


/* ********************************************************************************************************************************************************************* */
/* footer */

#Pages {
    position: flex;
    height: 100vh;
    width: 100%;
}

#Footer {
    position: flex;
    bottom: 0;
    width: 100%;
    background-color: #343a40;
}

.site-footer {
    padding-top: 30px;
    padding-bottom: 10px;
}

.footer-secondary,
.footer-quicklinks {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.8em;
    list-style: none outside;
    text-align: center;
    text-decoration: none;
    display: contents;
}

.footer-social,
.footer-payment,
.footer-secondary {
    line-height: 2.5em;
}

.link-footer {
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

/* ********************************************************************************************************************************************************************* */
/* login */

.fb-login-button {
    margin-top: 0.3rem;
}

.nacc {
    margin-left: -2rem;
    margin-right: 0.5rem;
}

.ll {
    margin-left: -3rem;
}

.user {
    margin: 1rem;
}

.log {
    padding: 3rem;
}

.llog {
    padding: 2rem;
    padding-bottom: 3rem;
    padding-top: 3rem;
    align-items: center;
    justify-content: center;
}

.but {
    margin: 0.5rem;
}


.dropdown-menu {
    margin-left: -8rem !important;
}

/* ********************************************************************************************************************************************************************* */
/* Ant Design */

.ant-select.ant-select-single.ant-select-show-arrow.ant-select-show-search {
    font-size: 1.3rem !important;
}


/* ********************************************************************************************************************************************************************* */
/* Date Picker */

.datePic {
    width: 15rem;
    height: 2.5rem;
    padding-left: 1rem;
}

/* ********************************************************************************************************************************************************************* */
/* Date Picker */

/* #Contact{
    background-image: ;
} */
/* *************************************************************************************************************************************************** */
/* Responsive Styles */

/* XL */
@media only screen and (min-width: 1200px) and (max-width: 2200px) {
    .logoNav {
        width: 215px;
        height: 90px;
        pointer-events: none !important;

    }

    .navbar-dark .navbar-nav .nav-link {
        font-size: 1.4rem !important;
    }

}

/* LG */
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
    button.navbar-toggler {
        margin-top: 1.3rem;
    }

}

/* MD */
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
    button.navbar-toggler {
        margin-top: 1.8rem !important;
    }


}


/* SM */
@media only screen and (min-width: 576px) and (max-width: 767.98px) {}

/* XS */
@media only screen and (min-width: 100px) and (max-width: 575.98px) {
    .filter-Business {
        height: 150px !important;
        max-width: auto;
        overflow-y: scroll;
        height: 15rem;
        overflow-x: hidden;
        margin-top: 9px;
        margin-bottom: 9px;
        margin-right: 0.8rem;
        border-radius: 10px;
    }
}


@media only screen and (min-width: 100px) and (max-width: 767.98px) {
    button.navbar-toggler {
        margin-top: 1.8rem !important;
    }

}

@media only screen and (min-width: 100px) and (max-width: 1199px) {

    #navbarNavDropdown {
        top: 5.9rem;
        right: 0;
        left: 0;
        height: 100%;
        overflow: hidden;
        background: rgba(49, 49, 42, 0.9);
        filter: alpha(opacity=95);
        position: fixed;
    }

    #navbarNavDropdown ul {
        margin-top: 5rem;
        margin-left: -1rem;
    }

    #navbarNavDropdown ul li {
        margin: -1rem 0 1rem 0;
    }


    .logoNav {
        width: 150px;
        height: 60px;
        pointer-events: none !important;

    }

    .navbar-dark .navbar-nav .nav-link {
        font-size: 2rem !important;
    }

    /* ul / li */
    hr.d-sm-block.d-md-block.d-lg-block.d-xl-none {
        border-top: 1px solid #F69220 !important;
        width: 70% !important;
    }

}

/* *************************************************************************************************************************************************** */